@{
    ViewData["Title"] = "Viewer";
}

<div class="jumbotron">
  <h1>Processed Image</h1>
  <h1>@ViewData["curdir"] Halloo</h1>
  <img src='@ViewData["filename"]' width="300px" height="450px" />
</div>